.ItemDetailContainer {
    position: fixed;
    bottom: 18.5rem;
    margin-left: 65rem;
}

.ItemDetailContainerDescripcion{
  overflow: hidden;
  max-width: 60ch;
}

#ItemDetailContainerPrecio {
    margin-left:8.5rem;
    margin-top: 5rem;
    margin-bottom:5rem;
    color:black
}

#ItemDetailContainerAgregar {
    margin-left: 12rem;
}

.ItemDetailImagen {
    margin-top: 5rem;
    margin-left:30rem;
    width: 500px;
    height: 500px;
}


