.ItemDetailContainer {
    position: fixed;
    bottom: 18.5rem;
    margin-left: 30rem;
}

.ItemDetailContainerDescripcion{
  overflow: hidden;
  max-width: 46ch;
}

#ItemDetailContainerPrecio {
    margin-left:6.5rem;
    color:black
}

#ItemDetailContainerAgregar {
    margin-left: 7.5rem;
}

.ItemDetailImagen {
    margin-top: 10rem;
    width: 345px;
    height: 345px;
}

.ItemDetailImagen:hover {
    position: relative;
    margin-right: 20rem;
    margin-top:2rem;
    left: 0rem;
    width: 500px;
    height: 500px;
}